{% extends "base.html" %}
{% import "_macros.html" as macros %}


{% block title %}SF Rent{% endblock %}


{% block content %}

    <div class="container">
<!--       <div class="page-header">
        <h1>Sticky footer with fixed navbar</h1>
      </div> -->

      <div class="col-md-12">
        <div class="col-md-3">
        </div>
        <div id="tseries-container" class="col-md-6" >
           <div id="tseries" style="height:400px">
                  <svg />
          </div>
        </div>
        <div class="col-md-3">
        </div>
      </div>

    <div class="col-md-6">
        <h3>Listings Posted last 56 days</h3>
        <table id="counts" class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                {% for col in table_listings.columns %}
                    <th>{{ col }}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for location, counts in table_listings.iterrows() %}
                    <tr>
                        <th>{{ location }}</th>
                        <td>{{ counts['Studio'] }}</td>
                        <td>{{ counts['1B1B'] }}</td>
                        <td>{{ counts['2B2B'] }}</td>
                    </tr>
                {% endfor %} 
            </tbody>
        </table>
    </div>

    <div class="col-md-6">
        <h3>Median Rent last 56 days</h3>
        <table id="revenue" class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                {% for col in revenue_listings.columns %}
                    <th>{{ col }}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for location, counts in revenue_listings.iterrows() %}
                    <tr>
                        <th>{{ location }}</th>
                        <td data-sort='{{ counts['Studio'] }}'>{{ counts['Studio'] | price }}</td>
                        <td data-sort='{{ counts['1B1B'] }}'>{{ counts['1B1B'] | price }}</td>
                        <td data-sort='{{ counts['2B2B'] }}'>{{ counts['2B2B'] | price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-md-12>">
        {{ macros.show_listings(recent_listings) }}
    </div>

    </div>

{% endblock %}


{% block scripts %}
    
    {{ super() }}
    <script>
        nv.addGraph(function() {
          var chart = nv.models.lineChart()
            .useInteractiveGuideline(true)
            .forceY(0);

          chart.xAxis
            .tickFormat(function(d) {
              return d3.time.format('%x')(new Date(d * 1000))
            });

          chart.yAxis
            .axisLabel('Avg. Rent ($)')
            .tickFormat(d3.format('.0f'));

          var myData = {{ tseries_data | safe }}
          d3.select('#tseries svg')
            .datum(myData)
            .call(chart);

          nv.utils.windowResize(chart.update);

          return chart;
        });
    </script>

    <script>
        new Tablesort(document.getElementById('counts'));
        new Tablesort(document.getElementById('revenue'));
    </script>

{% endblock %}